
# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/
DATABASE_NAME=movix

# Hugging Face
HF_TOKEN=hf_your_huggingface_token
HF_EMBEDDING_MODEL=BAAI/bge-small-en-v1.5

# TMDB
TMDB_API_KEY=your_tmdb_api_key
TMDB_ACCESS_TOKEN=your_tmdb_access_token
TMDB_BASE_URL=https://api.themoviedb.org/3

